
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: networkinterfaces.vpc.scaleway.com
spec:
  group: vpc.scaleway.com
  names:
    kind: NetworkInterface
    listKind: NetworkInterfaceList
    plural: networkinterfaces
    shortNames:
    - ni
    - nif
    - networkinterface
    - netiface
    - niface
    singular: networkinterface
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.address
      name: address
      type: string
    - jsonPath: .spec.nodeName
      name: node name
      type: string
    - jsonPath: .status.macAddress
      name: mac address
      type: string
    - jsonPath: .status.linkName
      name: link name
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: NetworkInterface is the Schema for the networkinterfaces API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: NetworkInterfaceSpec defines the desired state of NetworkInterface
            properties:
              address:
                description: Address is the address of the interface
                type: string
              id:
                description: ID is the ID of the NIC
                type: string
              nodeName:
                description: NodeName is the name of the node the interface is attached
                  to
                type: string
            required:
            - address
            - id
            - nodeName
            type: object
          status:
            description: NetworkInterfaceStatus defines the observed state of NetworkInterface
            properties:
              linkName:
                description: LinkName is the name of the Interface
                type: string
              macAddress:
                description: MacAddress is the mac address of the interface
                type: string
            required:
            - linkName
            - macAddress
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
